In [311]:
import pandas as pd
import os
import numpy as np
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics

In [312]:
car=pd.read_csv('C:/Users/Pavan/Desktop/Practice problems/car-evaluation-data-set/car_evaluation.csv',na_values=['?'])

In [313]:
car.shape

(1727, 7)

In [314]:
car.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top      low     low     4     4   big   med  unacc
freq     432     432   432   576   576   576   1209

In [315]:
car.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [316]:
car.isna().sum()

vhigh      0
vhigh.1    0
2          0
2.1        0
small      0
low        0
unacc      0
dtype: int64

In [317]:
car.tail()

     vhigh vhigh.1      2   2.1 small   low  unacc
1722   low     low  5more  more   med   med   good
1723   low     low  5more  more   med  high  vgood
1724   low     low  5more  more   big   low  unacc
1725   low     low  5more  more   big   med   good
1726   low     low  5more  more   big  high  vgood

In [318]:
car['vhigh'],_ = pd.factorize(car['vhigh'])
car['vhigh.1'],_ = pd.factorize(car['vhigh.1'])
car['2'],_ = pd.factorize(car['2'])
car['2.1'],_ = pd.factorize(car['2.1'])
car['small'],_ = pd.factorize(car['small'])
car['low'],_ = pd.factorize(car['low'])
car['unacc'],_ = pd.factorize(car['unacc'])

In [319]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [320]:
X = car.iloc[:,:-1]
X

      vhigh  vhigh.1  2  2.1  small  low
0         0        0  0    0      0    0
1         0        0  0    0      0    1
2         0        0  0    0      1    2
3         0        0  0    0      1    0
4         0        0  0    0      1    1
...     ...      ... ..  ...    ...  ...
1722      3        3  3    2      1    0
1723      3        3  3    2      1    1
1724      3        3  3    2      2    2
1725      3        3  3    2      2    0
1726      3        3  3    2      2    1

[1727 rows x 6 columns]

In [321]:
y = car.iloc[:,-1]
y

0       0
1       0
2       0
3       0
4       0
       ..
1722    3
1723    2
1724    0
1725    3
1726    2
Name: unacc, Length: 1727, dtype: int64

In [322]:
car.head()

   vhigh  vhigh.1  2  2.1  small  low  unacc
0      0        0  0    0      0    0      0
1      0        0  0    0      0    1      0
2      0        0  0    0      1    2      0
3      0        0  0    0      1    0      0
4      0        0  0    0      1    1      0

In [323]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets.samples_generator import make_blobs
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix
from sklearn import svm
from sklearn.svm import SVC
import warnings

In [324]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=0)

In [325]:
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
%matplotlib inline

In [326]:
car.dtypes

vhigh      int64
vhigh.1    int64
2          int64
2.1        int64
small      int64
low        int64
unacc      int64
dtype: object

In [336]:
tree = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [337]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [338]:
y_pred = tree.predict(X_test)

In [339]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 40
Accuracy: 0.92

In [340]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [341]:
y_pred = tree.predict(X_test)

In [342]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 40
Accuracy: 0.92

In [343]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [344]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 40
Accuracy: 0.92